@using ZapishiSe.Common
@{
    this.ViewData["Title"] = "Zapishi.se";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/businesses/businesses.min.css" asp-append-version="true" />

}

@section Scripts {
    <script src="~/lib/slick-carousel/slick/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/businesses/businessesSlider.min.js" asp-append-version="true"></script>
}

<!-- Search -->
<section class="pb-4">
    <!-- Slider -->
    <div class="slider container-fluid g-0">
        <a asp-route-id="1" asp-action="Index" asp-controller="Business" class="text-decoration-none text-reset">
            <div class="slide position-relative d-flex justify-content-end flex-column p-4 control-shadow">
                <img class="slide-background position-absolute h-100 w-100 object-fit-cover z-n1 top-0 start-0" src="https://picsum.photos/1001/400" />
                <h3 class="text-white h4">Фризьорски салон THE ONE</h3>
                <p class="slide-description text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero at commodi explicabo eligendi atque.</p>
            </div>
        </a>

        <a asp-route-id="1" asp-action="Index" asp-controller="Business" class="text-decoration-none text-reset">
            <div class="slide position-relative d-flex justify-content-end flex-column p-4 control-shadow">
                <img class="slide-background position-absolute h-100 w-100 object-fit-cover z-n1 top-0 start-0" src="https://picsum.photos/1001/400" />
                <h3 class="text-white h4">Фризьорски салон THE ONE</h3>
                <p class="slide-description text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero at commodi explicabo eligendi atque.</p>
            </div>
        </a>
        <a asp-route-id="1" asp-action="Index" asp-controller="Business" class="text-decoration-none text-reset">
            <div class="slide position-relative d-flex justify-content-end flex-column p-4 control-shadow">
                <img class="slide-background position-absolute h-100 w-100 object-fit-cover z-n1 top-0 start-0" src="https://picsum.photos/1001/400" />
                <h3 class="text-white h4">Фризьорски салон THE ONE</h3>
                <p class="slide-description text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero at commodi explicabo eligendi atque.</p>
            </div>
        </a>
    </div>


    <!-- Search -->
    <form class="container g-0 gap-3 d-flex flex-column align-items-center">
        <h1 class="h1 fw-bold text-center text-uppercase my-4">Търсене</h1>
        <div class="row justify-content-center gap-2 g-0 px-3">
            <div class="col-sm t-text-field t-text-field-hero t-text-field-has-icon">
                <i class="input-icon fas fa-search text-black"></i>
                <input required type="search" class="form-control control-shadow" placeholder="От какво имате нужда?">
            </div>
            <div class="col-sm d-flex gap-2">
                <div class="col t-text-field t-text-field-hero t-text-field-has-icon">
                    <i class="input-icon fa-solid fa-location-dot fa-lg text-danger"></i>
                    <input required type="search" class="form-control control-shadow" placeholder="В кой град?">
                </div>
                <button class="t-btn t-btn-blue t-btn-hero-no-text control-shadow t-btn-disable-on-invalid" type="submit"><i class="t-btn-arrow fa-solid fa-arrow-right"></i></button>

            </div>
        </div>
        <div class="w-100 d-flex gap-2 px-3 flex-wrap">
            <div class="d-flex flex-column">
                <label for="rating" class="input-label">Отзиви</label>
                <select id="rating" class="filter-select control-shadow me-2">
                    <option selected value="1">Всички</option>
                    <option style="font-size: 0.1pt; background-color: #d4d4d4;" disabled>&nbsp;</option>
                    <option value="2">Отлични</option>
                    <option value="3">Много Добри</option>
                    <option value="4">Добри</option>
                    <option value="5">Средни</option>
                    <option value="6">Лоши</option>
                </select>
            </div>
            <div class="d-flex flex-column">
                <label for="pricing" class="input-label">Цена</label>
                <select id="pricing" class="filter-select control-shadow">
                    @* <option disabled value="" selected>ЦЕНА</option> *@
                    <option selected value="1">Всяка</option>
                    <option style="font-size: 0.1pt; background-color: #d4d4d4;" disabled>&nbsp;</option>
                    <option value="2">Висока</option>
                    <option value="3">Нормална</option>
                    <option value="4">Ниска</option>
                </select>
            </div>
        </div>
    </form>
</section>

<!-- Results -->
<section class="container d-flex gap-4 flex-column align-items-center">
    <a asp-route-id="1" asp-action="Index" asp-controller="Business" class="text-decoration-none text-reset">
        <div class="service-result position-relative rounded control-shadow d-flex">
            <img src="https://picsum.photos/300/300" class="h-100 result-thumbnail object-fit-cover border-end border-2 border-black rounded" alt="">
            <div class="p-3 w-100 d-flex flex-column justify-content-between">
                <div class="title-review-container d-flex">

                    <div class="user-reviews-container d-flex gap-2">
                        <div class="price-indicator px-2 py-1 rounded"><span class="dollar-green">$</span> <span>$ $</span></div>
                        <div class="d-flex">
                            <span class="fw-semibold text-muted">4.4</span>
                            <div class="text-muted d-flex px-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="fw-semibold text-muted">(25)</span>
                        </div>
                    </div>

                    <div>
                        <h3 class="h5 fw-semibold">Фризьорски салон THE ONE</h3>
                        <p class="h6 result-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id quos voluptatem, provident fugit a neque quibusdam cum commodi.</p>
                    </div>
                </div>

                <div class="service-meta-info d-flex justify-content-between">
                    <div class="text-muted d-flex flex-column gap-2">
                        <span class="d-inline-block">Фризьорски салон в гр. Пазарджик</span>
                        <span class="text-truncate w-100">80 посещения за 30 дни</span>
                    </div>

                    <div href="#" class="details-button btn btn-primary px-5 fw-bold text-uppercase d-flex align-items-center justify-content-center">Виж</div>
                </div>
            </div>
        </div>
    </a>

    <a asp-route-id="1" asp-action="Index" asp-controller="Business" class="text-decoration-none text-reset">
        <div class="service-result position-relative rounded control-shadow d-flex">
            <img src="https://picsum.photos/300/300" class="h-100 result-thumbnail object-fit-cover border-end border-2 border-black rounded" alt="">
            <div class="p-3 w-100 d-flex flex-column justify-content-between">
                <div class="title-review-container d-flex">

                    <div class="user-reviews-container d-flex gap-2">
                        <div class="price-indicator px-2 py-1 rounded"><span class="dollar-green">$</span> <span>$ $</span></div>
                        <div class="d-flex">
                            <span class="fw-semibold text-muted">4.4</span>
                            <div class="text-muted d-flex px-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="fw-semibold text-muted">(25)</span>
                        </div>
                    </div>

                    <div>
                        <h3 class="h5 fw-semibold">Фризьорски салон THE ONE</h3>
                        <p class="h6 result-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id quos voluptatem, provident fugit a neque quibusdam cum commodi.</p>
                    </div>
                </div>

                <div class="service-meta-info d-flex justify-content-between">
                    <div class="text-muted d-flex flex-column gap-2">
                        <span class="d-inline-block">Фризьорски салон в гр. Пазарджик</span>
                        <span class="text-truncate w-100">80 посещения за 30 дни</span>
                    </div>

                    <div href="#" class="details-button btn btn-primary px-5 fw-bold text-uppercase d-flex align-items-center justify-content-center">Виж</div>
                </div>
            </div>
        </div>
    </a>

</section>

<!-- Pagination -->
<nav class="w-100 d-flex justify-content-center p-4" aria-label="Pagination">
    <ul class="pagination control-shadow rounded fw-semibold">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <i class="fa-solid fa-caret-left"></i>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
    </ul>
</nav>