@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles {
    <link rel="stylesheet" href="~/css/authenticate.min.css" asp-append-version="true" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<section class="auth-form-container container-fluid d-flex flex-column align-items-center mb-5">
    <div class="row w-100 py-4 g-0">
        <div class="col"></div>
        <img class="col text-center page-logo" src="~/assets/logoTextInverted.svg" />
        <div class="col"></div>
    </div>

    <form id="account" method="post" class="p-4 rounded row w-100 bg-white rounded auth-form-container control-shadow" style="max-width: 500px;">
        <h2 class="h3 text-center my-2 fw-semibold">Влезте в своя профил</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="d-flex flex-column gap-2 my-4 g-0">
            <div>
                <label asp-for="Input.Email" aria-required="true" autocomplete="username" for="email" class="fw-semibold p-2">Имейл</label>
                <input asp-for="Input.Email" id="email" required type="email" class="form-control" placeholder="Имейл адрес">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.Password" autocomplete="current-password" aria-required="true" for="password" class="fw-semibold p-2">Парола</label>
                <input asp-for="Input.Password" id="password" required type="password" class="form-control" placeholder="Парола">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <label asp-for="Input.RememberMe" class="checkbox-container d-flex justify-content-center p-2">
                <input asp-for="Input.RememberMe" type="checkbox" />
                <span>Запомни ме</span>
            </label>
            <span asp-validation-for="Input.RememberMe" class="text-danger"></span>
        </div>

        <button class="btn btn-primary w-100 ">Вписване</button>

        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>

        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>

        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>

    </form>
</section>