@page
@model RegisterModel
@{
ViewData["Title"] = "Register";
}

@section Styles {
<link rel="stylesheet" href="~/css/authenticate.min.css" asp-append-version="true" />
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

<section class="auth-form-container container-fluid d-flex flex-column align-items-center mb-5">
    <div class="row w-100 py-4 g-0">
        <div class="col"></div>
        <img class="col text-center page-logo" src="~/assets/logoTextInverted.svg" />
        <div class="col"></div>
    </div>

    <form class="p-4 rounded row w-100 bg-white rounded auth-form-container control-shadow" style="max-width: 500px;" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2 class="h3 text-center my-2 fw-semibold">Създаване на профил</h2>

        <div class="d-flex flex-column gap-2 my-4 g-0">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div>
                <label asp-for="Input.Email" class="fw-semibold p-2">Имейл</label>
                <input asp-for="Input.Email" autocomplete="email" for="email" aria-required="true" id="email" required type="email" class="form-control" placeholder="Имейл адрес">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.FirstName" for="firstName" class="fw-semibold p-2">Име</label>
                <input asp-for="Input.FirstName" id="firstName" required type="text" class="form-control" placeholder="Име" autocomplete="given-name">
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.LastName" for="lastName" class="fw-semibold p-2">Фамилия</label>
                <input asp-for="Input.LastName" id="lastName" required type="text" class="form-control" placeholder="Фамилия" autocomplete="family-name">
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.Phone" for="tel" class="fw-semibold p-2">Тел. номер</label>
                <input asp-for="Input.Phone" id="tel" required type="tel" class="form-control" placeholder="Тел. номер">
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.Password" autocomplete="new-password" class="fw-semibold p-2">Парола</label>
                <input asp-for="Input.Password" id="password" required type="password" class="form-control" placeholder="Парола">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.ConfirmPassword" for="confirmPassword" autocomplete="new-password" class="fw-semibold p-2">Потвърждаване на парола</label>
                <input asp-for="Input.ConfirmPassword" id="confirmPassword" required type="password" class="form-control" placeholder="Потвърждаване на парола">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <label asp-for="Input.RememberMe" class="checkbox-container d-flex justify-content-center p-2">
                <input asp-for="Input.RememberMe" required type="checkbox" />
                <span>Приемам <a href="#">общите условия</a>.</span>
            </label>
            <span asp-validation-for="Input.RememberMe" class="text-danger"></span>
        </div>

        <!-- <button class="t-btn t-btn-blue w-100 ">Регистрирайте се</button> -->
        <button class="btn btn-primary w-100 ">Регистрирайте се</button>
    </form>
</section>

