<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target @((bool)(ViewData["isWhite"] ?? true) ? "turn-white" : "") role="banner">

    <div class="container">
        <div class="row align-items-center px-2">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo">
                    <a href="index.html">
                        <svg width="150" height="50" viewBox="0 0 253 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M50.3997 39V35.0434L66.7159 15.3735L67.4696 17.5967H50.7011V12.6227H72.8957V16.5793L56.6172 36.2492L55.8636 34.026H73.461V39H50.3997ZM89.4702 39V35.0434L89.0933 34.1767V27.0925C89.0933 25.8365 88.704 24.8567 87.9252 24.1534C87.1716 23.45 86.0034 23.0983 84.4208 23.0983C83.3406 23.0983 82.2729 23.2741 81.2178 23.6258C80.1879 23.9524 79.3086 24.4046 78.5801 24.9824L76.4699 20.875C77.5753 20.0963 78.9067 19.4934 80.4642 19.0663C82.0217 18.6392 83.6044 18.4257 85.2121 18.4257C88.302 18.4257 90.7011 19.1542 92.4093 20.6113C94.1176 22.0683 94.9717 24.3418 94.9717 27.4317V39H89.4702ZM83.2903 39.3015C81.7077 39.3015 80.3512 39.0377 79.2207 38.5101C78.0902 37.9575 77.2236 37.2164 76.6207 36.2869C76.0177 35.3574 75.7163 34.3149 75.7163 33.1593C75.7163 31.9535 76.0052 30.8984 76.583 29.994C77.1859 29.0897 78.1279 28.3863 79.4091 27.8839C80.6903 27.3563 82.3609 27.0925 84.4208 27.0925H89.8093V30.5216H85.0614C83.6797 30.5216 82.7251 30.7477 82.1976 31.1999C81.6951 31.652 81.4439 32.2173 81.4439 32.8955C81.4439 33.6492 81.7328 34.2521 82.3106 34.7043C82.9135 35.1313 83.73 35.3449 84.7599 35.3449C85.7397 35.3449 86.6189 35.1188 87.3977 34.6666C88.1764 34.1893 88.7416 33.4985 89.0933 32.5941L89.9977 35.3072C89.5706 36.6135 88.7919 37.6058 87.6614 38.284C86.531 38.9623 85.0739 39.3015 83.2903 39.3015ZM112.275 39.3015C110.566 39.3015 109.072 38.9246 107.791 38.171C106.509 37.4174 105.505 36.2743 104.776 34.742C104.073 33.1844 103.721 31.225 103.721 28.8636C103.721 26.4771 104.06 24.5176 104.738 22.9852C105.417 21.4528 106.396 20.3098 107.678 19.5562C108.959 18.8025 110.491 18.4257 112.275 18.4257C114.184 18.4257 115.892 18.8653 117.399 19.7446C118.932 20.5987 120.138 21.8045 121.017 23.362C121.921 24.9196 122.373 26.7534 122.373 28.8636C122.373 30.9989 121.921 32.8453 121.017 34.4028C120.138 35.9603 118.932 37.1662 117.399 38.0203C115.892 38.8744 114.184 39.3015 112.275 39.3015ZM100.292 46.3103V18.7272H105.907V22.8722L105.793 28.9013L106.17 34.8927V46.3103H100.292ZM111.257 34.4782C112.237 34.4782 113.104 34.2521 113.857 33.7999C114.636 33.3477 115.252 32.7071 115.704 31.8781C116.181 31.024 116.42 30.0192 116.42 28.8636C116.42 27.6829 116.181 26.678 115.704 25.849C115.252 25.02 114.636 24.3794 113.857 23.9273C113.104 23.4751 112.237 23.249 111.257 23.249C110.278 23.249 109.398 23.4751 108.62 23.9273C107.841 24.3794 107.225 25.02 106.773 25.849C106.321 26.678 106.095 27.6829 106.095 28.8636C106.095 30.0192 106.321 31.024 106.773 31.8781C107.225 32.7071 107.841 33.3477 108.62 33.7999C109.398 34.2521 110.278 34.4782 111.257 34.4782ZM126.309 39V18.7272H132.187V39H126.309ZM129.248 15.901C128.168 15.901 127.288 15.587 126.61 14.959C125.932 14.331 125.593 13.5522 125.593 12.6227C125.593 11.6932 125.932 10.9145 126.61 10.2864C127.288 9.6584 128.168 9.34439 129.248 9.34439C130.328 9.34439 131.207 9.64584 131.885 10.2488C132.564 10.8265 132.903 11.5802 132.903 12.5097C132.903 13.4894 132.564 14.3058 131.885 14.959C131.232 15.587 130.353 15.901 129.248 15.901ZM144.463 39.3015C142.73 39.3015 141.059 39.1005 139.451 38.6985C137.869 38.2715 136.613 37.7439 135.683 37.1159L137.643 32.8955C138.572 33.4733 139.665 33.9506 140.921 34.3275C142.202 34.6791 143.458 34.855 144.689 34.855C146.046 34.855 147 34.6917 147.553 34.3651C148.131 34.0386 148.42 33.5864 148.42 33.0086C148.42 32.5313 148.193 32.1796 147.741 31.9535C147.314 31.7023 146.736 31.5139 146.008 31.3883C145.279 31.2627 144.476 31.1371 143.596 31.0114C142.742 30.8858 141.875 30.7226 140.996 30.5216C140.117 30.2955 139.313 29.9689 138.585 29.5419C137.856 29.1148 137.266 28.537 136.814 27.8085C136.387 27.08 136.173 26.1379 136.173 24.9824C136.173 23.7012 136.537 22.5707 137.266 21.591C138.019 20.6113 139.1 19.8451 140.506 19.2924C141.913 18.7146 143.596 18.4257 145.556 18.4257C146.937 18.4257 148.344 18.5764 149.776 18.8779C151.208 19.1793 152.401 19.619 153.356 20.1968L151.396 24.3794C150.417 23.8017 149.424 23.4123 148.42 23.2113C147.44 22.9852 146.485 22.8722 145.556 22.8722C144.249 22.8722 143.295 23.048 142.692 23.3997C142.089 23.7514 141.788 24.2036 141.788 24.7563C141.788 25.2587 142.001 25.6355 142.428 25.8867C142.88 26.1379 143.471 26.3389 144.199 26.4896C144.928 26.6404 145.719 26.7785 146.573 26.9041C147.452 27.0046 148.332 27.1679 149.211 27.394C150.09 27.6201 150.881 27.9467 151.585 28.3737C152.313 28.7757 152.904 29.3409 153.356 30.0694C153.808 30.7728 154.034 31.7023 154.034 32.8579C154.034 34.1139 153.657 35.2318 152.904 36.2115C152.15 37.1662 151.057 37.9198 149.625 38.4725C148.219 39.0251 146.498 39.3015 144.463 39.3015ZM169.983 18.4257C171.591 18.4257 173.023 18.7523 174.279 19.4054C175.56 20.0335 176.565 21.0132 177.293 22.3446C178.022 23.6509 178.386 25.3341 178.386 27.394V39H172.508V28.2984C172.508 26.6655 172.143 25.4597 171.415 24.6809C170.712 23.9021 169.707 23.5128 168.4 23.5128C167.471 23.5128 166.629 23.7137 165.876 24.1157C165.147 24.4925 164.569 25.0828 164.142 25.8867C163.74 26.6906 163.539 27.7206 163.539 28.9766V39H157.661V11.0401H163.539V24.3418L162.221 22.6461C162.949 21.2895 163.992 20.247 165.348 19.5185C166.705 18.79 168.25 18.4257 169.983 18.4257ZM183.715 39V18.7272H189.593V39H183.715ZM186.654 15.901C185.573 15.901 184.694 15.587 184.016 14.959C183.338 14.331 182.999 13.5522 182.999 12.6227C182.999 11.6932 183.338 10.9145 184.016 10.2864C184.694 9.6584 185.573 9.34439 186.654 9.34439C187.734 9.34439 188.613 9.64584 189.291 10.2488C189.97 10.8265 190.309 11.5802 190.309 12.5097C190.309 13.4894 189.97 14.3058 189.291 14.959C188.638 15.587 187.759 15.901 186.654 15.901Z" fill="currentColor" />
                            <path d="M197.272 39.3015C196.267 39.3015 195.4 38.9623 194.672 38.284C193.968 37.5807 193.617 36.6888 193.617 35.6086C193.617 34.5284 193.968 33.6617 194.672 33.0086C195.4 32.3303 196.267 31.9912 197.272 31.9912C198.302 31.9912 199.168 32.3303 199.872 33.0086C200.575 33.6617 200.927 34.5284 200.927 35.6086C200.927 36.6888 200.575 37.5807 199.872 38.284C199.168 38.9623 198.302 39.3015 197.272 39.3015ZM211.731 39.3015C209.998 39.3015 208.327 39.1005 206.719 38.6985C205.137 38.2715 203.881 37.7439 202.951 37.1159L204.911 32.8955C205.84 33.4733 206.933 33.9506 208.189 34.3275C209.47 34.6791 210.726 34.855 211.957 34.855C213.314 34.855 214.268 34.6917 214.821 34.3651C215.399 34.0386 215.688 33.5864 215.688 33.0086C215.688 32.5313 215.461 32.1796 215.009 31.9535C214.582 31.7023 214.004 31.5139 213.276 31.3883C212.547 31.2627 211.744 31.1371 210.864 31.0114C210.01 30.8858 209.143 30.7226 208.264 30.5216C207.385 30.2955 206.581 29.9689 205.853 29.5419C205.124 29.1148 204.534 28.537 204.082 27.8085C203.654 27.08 203.441 26.1379 203.441 24.9824C203.441 23.7012 203.805 22.5707 204.534 21.591C205.287 20.6113 206.368 19.8451 207.774 19.2924C209.181 18.7146 210.864 18.4257 212.824 18.4257C214.205 18.4257 215.612 18.5764 217.044 18.8779C218.476 19.1793 219.669 19.619 220.624 20.1968L218.664 24.3794C217.685 23.8017 216.692 23.4123 215.688 23.2113C214.708 22.9852 213.753 22.8722 212.824 22.8722C211.517 22.8722 210.563 23.048 209.96 23.3997C209.357 23.7514 209.056 24.2036 209.056 24.7563C209.056 25.2587 209.269 25.6355 209.696 25.8867C210.148 26.1379 210.739 26.3389 211.467 26.4896C212.196 26.6404 212.987 26.7785 213.841 26.9041C214.72 27.0046 215.6 27.1679 216.479 27.394C217.358 27.6201 218.149 27.9467 218.853 28.3737C219.581 28.7757 220.172 29.3409 220.624 30.0694C221.076 30.7728 221.302 31.7023 221.302 32.8579C221.302 34.1139 220.925 35.2318 220.172 36.2115C219.418 37.1662 218.325 37.9198 216.893 38.4725C215.487 39.0251 213.766 39.3015 211.731 39.3015ZM234.99 39.3015C232.679 39.3015 230.644 38.8493 228.886 37.9449C227.152 37.0405 225.808 35.8096 224.854 34.2521C223.899 32.6695 223.422 30.8733 223.422 28.8636C223.422 26.8288 223.886 25.0326 224.816 23.4751C225.771 21.8924 227.064 20.6615 228.697 19.7823C230.33 18.8779 232.176 18.4257 234.236 18.4257C236.221 18.4257 238.005 18.8528 239.587 19.7069C241.195 20.5359 242.464 21.7417 243.393 23.3244C244.323 24.8819 244.787 26.7534 244.787 28.9389C244.787 29.165 244.775 29.4288 244.75 29.7303C244.725 30.0066 244.699 30.2704 244.674 30.5216H228.207V27.0925H241.584L239.323 28.1099C239.323 27.0549 239.11 26.1379 238.683 25.3592C238.256 24.5804 237.665 23.9775 236.912 23.5504C236.158 23.0983 235.279 22.8722 234.274 22.8722C233.269 22.8722 232.377 23.0983 231.599 23.5504C230.845 23.9775 230.255 24.593 229.828 25.3969C229.401 26.1756 229.187 27.1051 229.187 28.1853V29.0897C229.187 30.195 229.426 31.1747 229.903 32.0289C230.405 32.8579 231.096 33.4985 231.976 33.9506C232.88 34.3777 233.935 34.5912 235.141 34.5912C236.221 34.5912 237.163 34.4279 237.967 34.1014C238.796 33.7748 239.55 33.2849 240.228 32.6318L243.355 36.0231C242.426 37.0782 241.258 37.8947 239.851 38.4725C238.444 39.0251 236.824 39.3015 234.99 39.3015Z" fill="#D45555" />
                            <rect y="16.4911" width="5.7778" height="23.1112" rx="2.8889" transform="rotate(-30 0 16.4911)" fill="currentColor" />
                            <rect x="10.7632" y="16.4911" width="5.7778" height="23.1112" rx="2.8889" transform="rotate(-30 10.7632 16.4911)" fill="#5FA6BC" />
                            <rect x="21.5266" y="16.4911" width="5.7778" height="23.1112" rx="2.8889" transform="rotate(-30 21.5266 16.4911)" fill="#D55555" />
                        </svg>
                    </a>
                </h1>
            </div>

            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu main-menu js-clone-nav float-end mr-auto d-none d-lg-block">
                        <li><a href="#home-section" class="nav-link">Начало</a></li>
                        <li><a href="#blog-section" class="nav-link">Моите часове</a></li>
                        <li class="has-children">
                            <a href="#about-section" class="nav-link">За партньори</a>
                            <ul class="dropdown">
                                <li><a href="#testimonials-section" class="nav-link">Добавете своя бизнес</a></li>
                                <li><a href="#pricing-section" class="nav-link">Цени</a></li>
                                <li><a href="#faq-section" class="nav-link">Контакт</a></li>
                                @*
                                <li class="has-children">
                                <a class="nav-link" href="#">More Links</a>
                                <ul class="dropdown">
                                <li><a class="nav-link" href="#">Menu One</a></li>
                                <li><a class="nav-link" href="#">Menu Two</a></li>
                                <li><a class="nav-link" href="#">Menu Three</a></li>
                                </ul>
                                </li>
                                *@
                            </ul>
                        </li>

                        @*
                        <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                        <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                        <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
                        *@

                        <li class="account-btn"><a href="#" class="nav-link"><i class="fa-solid fa-circle-user fa-2xl mx-2"></i>Вход</a></li>
                    </ul>
                </nav>
            </div>


            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-end"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>