@using ZapishiSe.Common
@{
    this.ViewData["Title"] = "Zapishi.se";
    this.ViewData["isWhite"] = false;
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/heroWordSwapper.js" asp-append-version="true"></script>
}

<!-- Hero Section -->
<section class="w-100 position-relative min-vh-100">
    <!-- Background Hero Video -->
    <video muted autoplay loop class="hero-video position-absolute z-n1 w-100 fw-lighter h-100 object-fit-cover">
        <source src="assets/hero.mp4" type="video/mp4">
    </video>

    <div style="height: 3vw"></div>

    <!-- Title -->
    <div class="row py-5 g-0">
        <div class="col"></div>
        <img class="page-logo col" src="/assets/logoText.svg" />
        <div class="col"></div>

        <div class="row">
            <h2 class="text-white h4 text-center">Запиши си час</h2>
        </div>
    </div>

    <!-- Search -->
    <form class="container d-flex flex-column align-items-center gap-2 mb-5">
        <div class="h3 text-white text-center fw-semibold mb-4">Открийте <div class="word-swap fw-bold text-start"></div><br>близо до Вас</div>

        <div class="row justify-content-center gap-2 g-0">
            <div class="col-3 t-text-field t-text-field-min-width t-text-field-hero t-text-field-has-icon">
                <i class="input-icon fas fa-search text-black"></i>
                <input required type="search" list="searchKeywords" class="form-control control-shadow" placeholder="От какво имате нужда?">
            </div>
            <div class="col-3 t-text-field t-text-field-min-width t-text-field-hero t-text-field-has-icon">
                <i class="input-icon fa-solid fa-location-dot fa-lg text-danger"></i>
                <input required type="search" class="form-control control-shadow" placeholder="В кой град?">
            </div>
        </div>

        <div style="min-width: 350px;" class="d-flex justify-content-center gap-2">
            <a href="#learn-more" class="t-btn t-btn-white t-btn-hero t-btn-hero-small control-shadow w-100" role="button">Научете повече<i class="t-btn-arrow fa-solid fa-arrow-down"></i></a>
            <button type="submit" class="t-btn t-btn-blue t-btn-hero t-btn-hero-small control-shadow t-btn-disable-on-invalid w-100">Да започваме<i class="t-btn-arrow fa-solid fa-arrow-right"></i></button>
        </div>
    </form>

    <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
        <a href="#" class="t-btn t-btn-yellow t-btn-hero t-btn-hero-small control-shadow w-100" role="button">История на<br>услуги<i class="t-btn-arrow fa-solid fa-arrow-right"></i></a>
        <a href="#" class="t-btn t-btn-green t-btn-hero t-btn-hero-small control-shadow w-100" role="button">Моите часове<i class="t-btn-arrow fa-solid fa-arrow-right"></i></a>
        <a href="#" class="t-btn t-btn-blue t-btn-hero t-btn-hero-small control-shadow w-100" role="button">Добавете своя<br> бизнес<i class="t-btn-arrow fa-solid fa-arrow-right"></i></a>
    </div>
</section>

<!-- Learn more -->
<section id="learn-more" class="row justify-content-center px-2 gap-2 g-0">
    <img src="assets/logo.svg" class="learn-more-logo my-5" alt="logo">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="learn-more-paragraph-container col-md mb-5">
            <img src="assets/triangleLearnMore.svg" class="learn-more-triangle">
            <h2 class="learn-more-title text-white">Какво е Zapishi<span>.se</span></h2>
            <p class="text-white fw-semibold mt-3">Zapishi.se е вашият надежден партньор за улеснено записване на часове. <br><br>Независимо дали търсите перфектен маникюр, релаксираща масажна процедура или професионално подстригване, ние сме тук, за да направим процеса на записване лесен, бърз и приятен</p>
        </div>

        <div class="learn-more-paragraph-container col-md mb-5">
            <img src="assets/triangleLearnMore.svg" class="learn-more-triangle">
            <h2 class="text-white">Защо Zapishi<span>.se</span>?</h2>
            <p class="text-white fw-semibold mt-3">С нас можете да резервирате своя час без необходимостта от продължителни телефонни разговори и излишно губене на време. <br><br>Не е нужно да се съобразявате с работно време на другите - можете да запишете часа си когато Вие решите. </p>
        </div>

        <div class="learn-more-paragraph-container col-md mb-5">
            <img src="assets/triangleLearnMore.svg" class="learn-more-triangle">
            <h2 class="learn-more-title text-white">Как да си запиша час?</h2>
            <p class="text-white fw-semibold mt-3 mb-3">Записването на час е много лесно:</p>
            <ul class="text-white fw-semibold">
                <li>Въвеждате услугата, от която се нуждаете и Вашето местоположение</li>
                <li>Избирате подходящ за Вас салон</li>
                <li>Натискате "Запиши час"</li>
            </ul>

        </div>

        <div class="col-md-1"></div>
    </div>
</section>

<section>
    @* Usage + banner *@
</section>

<!-- Frequently Asked Questions -->
<section class="w-100 bg-white py-5 px-2 faq">
    <div class="container">
        <h2 class="h3 text-uppercase text-center fw-bold">Често задавани въпроси</h2>

        <ul class="faq-list list-unstyled my-5">
            <li class="border-bottom mb-4 pb-4 position-relative">
                <a data-bs-toggle="collapse" class="faq-question collapsed d-block fw-semibold text-decoration-none" data-bs-target="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="fa-solid fa-chevron-down icon-show"></i><i class="fa-solid fa-chevron-up icon-close"></i></a>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p class="pt-2">
                        Vivamus nec lectus sodales, auctor massa vel, vulputate ex. Mauris euismod risus in ligula finibus, nec lobortis enim pharetra. Nunc luctus tincidunt porttitor. Integer suscipit laoreet suscipit. Curabitur et dapibus massa. Integer vestibulum tortor nec nulla maximus, nec tincidunt nibh molestie.
                    </p>
                </div>
            </li>
            <li class="border-bottom mb-4 pb-4 position-relative">
                <a data-bs-toggle="collapse" class="faq-question collapsed d-block fw-semibold text-decoration-none" data-bs-target="#faq2">Aliquam quis orci tincidunt, varius turpis auctor, accumsan magna? <i class="fa-solid fa-chevron-down icon-show"></i><i class="fa-solid fa-chevron-up icon-close"></i></a>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p class="pt-2">
                        Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                </div>
            </li>
            <li class="border-bottom mb-4 pb-4 position-relative">
                <a data-bs-toggle="collapse" class="faq-question collapsed d-block fw-semibold text-decoration-none" data-bs-target="#faq3">Nunc varius turpis lorem, non rutrum diam congue ac? <i class="fa-solid fa-chevron-down icon-show"></i><i class="fa-solid fa-chevron-up icon-close"></i></a>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p class="pt-2">
                        Duis sodales, diam at molestie semper, erat turpis blandit nunc, at lobortis magna nisl nec urna. Cras molestie, turpis at aliquet placerat, tortor nisl semper ligula, non commodo felis metus id felis. Mauris convallis lorem ac eros hendrerit aliquam. Nunc non vehicula libero.
                    </p>
                </div>
            </li>
            <li class="border-bottom mb-4 pb-4 position-relative">
                <a data-bs-toggle="collapse" class="faq-question collapsed d-block fw-semibold text-decoration-none" data-bs-target="#faq4">Quisque eu nisi rhoncus, lobortis neque ac, tempus magna?<i class="fa-solid fa-chevron-down icon-show"></i><i class="fa-solid fa-chevron-up icon-close"></i></a>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p class="pt-2">
                        Nullam at ipsum facilisis, volutpat libero at, congue ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc bibendum luctus finibus.
                    </p>
                </div>
            </li>
        </ul>

    </div>
</section>
<!-- End Frequenty Asked Questions Section -->



<section>
    @* <h2>Имате нужда от помощ?</h2> *@
    @*Card email*@
    @*Card facebook*@
    @*Card phone*@
</section>