@import "utilities/_colors.scss";

.slider {
    
    .slick-list,
    .slick-track,
    .slide {
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    // 

    .slider-dots {
        position: absolute;
        bottom: 15px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center
    }

    .slider-dots li {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 10px;
        padding: 0;
        cursor: pointer
    }

    .slider-dots li button {
        box-sizing: border-box;
        font-size: 0;
        line-height: 0;
        border-radius: 50%;
        background-color: #000000;
        border: 3px solid #FFF;
        opacity: 70%;
        display: block;
        width: 15px;
        height: 15px;
        padding: 5px;
        cursor: pointer;
        // color: transparent;
        // border: 0;
        // outline: 0;
        // background: 0 0
    }

    // .slider-dots li button:focus,
    // .slider-dots li button:hover {
    //     outline: 0
    // }

    // .slick-dots li button:focus:before,
    // .slick-dots li button:hover:before {
    //     opacity: 0.8;
    // }

    // .slick-dots li button:before {
    //     font-family: slick;
    //     font-size: 6px;
    //     line-height: 20px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 20px;
    //     height: 20px;
    //     content: '•';
    //     text-align: center;
    //     opacity: .25;
    //     color: #000;
    //     -webkit-font-smoothing: antialiased;
    //     -moz-osx-font-smoothing: grayscale
    // }

    .slider-dots li.slick-active button {
        background-color: darken($primary, 5%);
        border: 3px solid #FFF;
        opacity: 100%;
    }

    .slider-dots li:hover:not(li.slick-active) {
        opacity: 100%;
    }

    //

    .slick-prev {
        left: 10px;
        z-index: 1;
    }

    .slide-btn {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: block;
        height: 60px;
        width: 30px;
        border: none;
        border-radius: 5px;
        background-color: #000000C0;
        z-index: 1;


        &:hover::after {
            opacity: 80%;
        }
    }



    .slide-btn.left-arrow {
        left: 10px;

        &:after {
            font-family: FontAwesome;
            position: absolute;
            color: #FFF;
            font-weight: 900;
            top: 50%;
            left: 50%;
            display: flex;
            transform: translate(-50%, 0);
            content: '\f053';
            display: block;
            font-size: 1rem;
            width: 50px;
            height: 50px;
        }
    }

    .slide-btn.right-arrow {
        right: 10px;

        &::after {
            font-family: FontAwesome;
            position: absolute;
            color: #FFF;
            font-weight: 900;
            top: 50%;
            left: 50%;
            display: flex;
            transform: translate(-50%, 0);
            content: '\f054';
            display: block;
            font-size: 1rem;
            width: 50px;
            height: 50px;
        }
    }
}