@import "_businessSlider.scss";

body {
    background: $light-background;
}

.img-zoomed {
    position: absolute;
    top: 0;
    left: 0;
}

.business {
    line-height: 1.4rem;

    .user-icon {
        font-size: 2.5rem;
        width: min-content;
    }

    .slider {
        aspect-ratio: 16/9;
    }
    
    .panel {

        .price-indicator,
        .like-business {
            height: 35px;
            font-weight: 800;
            color: #FFF;
        }

        .price-indicator {
            background-color: lighten($theme-green, 10%);
            word-spacing: -0.1ch;

            span {
                color: lighten($theme-gray, 10%);
            }

            .dollar-green {
                color: darken($theme-green, 25%);
            }
        }

        .like-business {
            background-color: $theme-red;
            font-size: 1.1rem;
            width: 35px;
            margin-left: 35px;
        }

        .panel-review {
            &-score {
                background: lighten($theme-gray, 10%);
            }

            &-stars {
                font-size: 1.6rem;

                .checked {
                    color: orange;
                }
            }
        }

        .call-btn {
            font-size: 1.1rem;
        }

    }

    .service-price-range,
    .service-duration {
        height: max-content;
        width: max-content;
    }

    .service-price-range {
        background: darken($theme-green, 10%);
    }

    .service-duration {
        background: $theme-blue;
    }

    .right-col {
        flex-direction: column;
        align-items: flex-start;

        >div {
            width: 100%;
        }
    }

    .reviews .reviews-container {
        // height of all elements stacked on each other divided by 2

        .review-container {
            // flex: 1 0 40%;

            .review-rate {
                direction: rtl;
                unicode-bidi: bidi-override;

                input {
                    display: none;
                }

                label {
                    font-size: 1.4rem;
                    color: darken($theme-gray, 30%);
                    cursor: pointer;

                    .fas {
                        display: none;
                    }
                }

                label:hover,
                label:hover~label,
                input:checked+label,
                input:checked+label~label {
                    color: orange; //#ffc107;

                    .fas {
                        display: block;
                    }

                    .fa-regular {
                        display: none;
                    }
                }
            }

            .interaction-options {
                .interaction {
                    cursor: pointer;
                }
            }

            .review-stars {
                font-size: 0.9rem;

                .checked {
                    color: orange;
                }
            }

        }
    }

}

@media only screen and (max-width: 992px) {
    .business {
        .slider {
            height: auto;
        }

        .left-col {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .services-table {
        padding-inline: 1rem !important;

        .heading-row {
            display: none !important;
        }

        .service-row {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start !important;
        }
    }

    .reviews .reviews-container {
        .review-container {
            // flex: 1 0 100% !important;
        }
    }
}

@media only screen and (max-width: 576px) {
    .business-title {
        font-size: 1.4rem;
    }
}