$primary: #4285F4;

$theme-red: #D45555;
$theme-orange: #C9A74F;
$theme-green: #4FC98E;

$theme-black: #0a0a0a;
$theme-dark-blue: #051A21;

$theme-gray: #d3d3d3;
$theme-white: #FAFAFA;
$light-background: #EEF2F3;