@import "../shared/colors";

// Slider
.slider {

    // slide when not center
    .slick-slide,
    .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
        transform: scale(1);
        transition: transform 0.3s;
    }

    // slide when center
    .slick-center,
    .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
        transform: scale(1.15);
    }
}

.slide {
    position: relative;
    height: 220px;
    transition: all .2s ease-in-out;
    margin: 3rem;
    border-radius: 5px;
    cursor: pointer;

    .slide-background {
        filter: brightness(50%);
        border-radius: 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .slide {
        margin: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .slider {
        margin-bottom: 1.5rem;
    }

    .slide {
        margin: 0 !important;
        border-radius: 5px;

        .slide-background {
            border-radius: 0px;
        }
    }

    .slick-prev,
    .slick-next {
        transform: scale(1.5);
        z-index: 1;
    }

    .slick-prev {
        left: 4vw;
    }

    .slick-next {
        right: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .slide {
        height: 200px;
    }
}